body {
  background-color: #D4AC7B;
}
hr {
  border-style: dotted none none none;
  border-color: #B55D4A;
  border-width: 5px;
  width: 25%;
}
h1 {
  color: #B52F22;
  font-style: italic;
}
h2 {
  color: #2F2C29;
  font-style: italic;
}
h3 {
  color: #2F2C29;
  font-style: italic;
}
p {
  color: #2F2C29;
  font-style: normal;
}

a:hover {
  color: red;
}

/*******tag selectors***/
img {
  background-color: red;
}

/*******class selectors***/
.slack {
  background-color: black;
}

.circular {
  border-radius: 100%;
}

.topruler {
  border-color: #D4AC7B;
}

/*******id selectors***/
#heading {
  color: #B52F22;
}
